extends ../layouts/app

block content
  section.list.list-post
    each article in articles
      article.list-item
        header.list-item-header
          h2= article.name
        section!= article.content

